.home-top-panel {
  width: 100vw;
  height: 860px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  left: calc(-50vw + 50%);
  background-image:url(../../assets/images/home/eyebrows.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}
.home-top-panel img {
  width: 100vw;
  z-index: 10;
  height: 90px;
}

.home-top_text{
  height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text_service-name{
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  margin: 0 0 8px 0;
}
.text_service-name::before{
  content: "";
    position: absolute;
    width: 230px;
    height: 2px;
    margin-top: 15px;
    transform: translateY(-50%);
    background-color: #fff;
    margin-left: -250px;
}
.text_service-name::after{
  content: "";
    position: absolute;
    width: 230px;
    height: 2px;
    margin-top: 15px;
    transform: translateY(-50%);
    background-color: #fff;
    margin-left: 20px;
}

.text_company-name{
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: 120px;
  line-height: 120px;
  color: #fff;
  margin: 0 0 35px 0;
}
.text_cost-link{
  text-transform: uppercase;
  display: inline-block;
  padding: 20px 30px;
  background-color: #fff;
  font-family: Roboto, sans-serif;
  font-weight: 600;
}