.container{
  display: grid;
  grid-template-columns: 350px 730px;
  gap: 30px;
  padding: 100px 0 185px 0;

}
.description{
  text-align: left;
  width: 280px;
}
.description-name{
  font-family: "Raleway", sans-serif;
  
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 20px 0;
}
.description-shortprice{
  font-family: "Roboto Slab", sans-serif;
  text-transform: uppercase;
  color: #353B41;
  font-size: 56px;
  line-height: 54px;
  font-weight: 400;
  margin: 0 0 35px 0;
}
.description-promo{
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  margin: 0 0 70px 0;
  color: rgb(127, 127, 127)
}

.all-services{
  text-transform: uppercase;
  background-color: #000;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1.75px;
    padding: 20px 30px;
    transition: all 0.3s ease-in-out;
}
.all-services:hover{
  background-color: rgba(0, 0, 0, 0.75);
}