.additional {
  margin: 90px 0 65px 0;
}

.additional img {
  width: 100%;
  margin-bottom: 60px;
}

.additional_text {
  margin: 0 0 25px 0;
  color: #353b41;
  font-size: 36px;
  line-height: 46px;
  font-weight: 400;
  text-align: left;
}
