html,
body {
  scroll-behavior: smooth;
  height: 100%;
  max-width: 1920px;
  min-width: 1400px;
  margin: 0 auto !important;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 100px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color:#000;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  width: 1100px;
  flex: 1 0 auto;
  background-color: #e4f2f5;
}
.footer {
  width: 1100px;
  flex: 0 0 auto;
}

.width_screen {
  width: 100vw;
  position: relative;
  background-color: beige;
  left: calc(-50vw + 50%);
}
